/* reset code */



/* main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
}

body{
    /* width:375px; */
    color:hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 900px; */
    }
.card-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 200px;
    width: 55%;
    height: 55%;
    background-color: black;
}
.cardImage{
    width: 80px;
}
p{
    font-family:Lexend Deca;
    font-size: 17px;
    line-height: 1.7;
    /* margin-bottom: 5px; */
}
.card{
    padding:15px 55px 15px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}
.SEDANS-card{
    background-color: hsl(31, 77%, 52%);
    /* padding: 25px; */

}
.SUVS-card{
    background-color: hsl(184, 100%, 22%);
    /* padding: 25px; */
}
.LUXURY-card{
    background-color: hsl(179, 100%, 13%);
    /* padding: 25px; */
}
.title{
    font-size: xx-large;
    font-weight: 700;
    font-family: Big Shoulders Display;
}

.LearnMoreButton{
    background-color: hsl(0, 0%, 95%);
    border: 2px hsl(0, 0%, 95%) solid;
    border-radius: 25px;
    padding: 10px;
    font-family:Lexend Deca;
    width: 130px;
    cursor:pointer;
}

.sedanButton:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 2px white solid;
}
.suvButton:hover{
    background-color:  hsl(184, 100%, 22%);
    color: white;
    border: 2px white solid;
}
.luxuryButton:hover{
    background-color: hsl(179, 100%, 13%);;
    color: white;
    border: 2px white solid;
}
.sedanButton{
    color: hsl(31, 77%, 52%);
}
.suvButton{
    color: hsl(184, 100%, 22%);
}
.luxuryButton{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 1086px) {
    .card-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 50px 0px 50px 0px;
    }
    p{
        font-size:15px ;
    }
    .card{
        height: 400px;
    }
    
  }
